body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

/* Styling Header */
.header {
    background-color: #333;
    color: rgb(227, 111, 111);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

/* Paragraph Styling */
.paragraph {
    color: #555;
    font-size: 18px;
    margin: 20px 0;
    padding: 50px;
}

/* Image Styling */
#styled-image {
    width: 350px;
    height: 300px;
    margin: 20px 15px 20px 15px; /* top right bottom left */
    border: 5px solid #333;
}

.home-footer {
    color:red;
    font-weight: bold;
}